.App {
  text-align: center;
  background-color: #f5f5f5;
  padding: 20px;
}

.add-movie-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #349164;
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.3);
}

.add-movie-icon:hover {
  background-color: #51df34;
}
.add-movie {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.add-movie h1 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #349164;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  background-color: #ecf0f1;
  padding: 10px 20px;
  border: 2px solid #349164;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}
